$lt-gray: #ddd;
$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$primary-color-dark: #512DA8;
$background-moredark: #4527A0;
$primary-color: #673AB7;
$primary-color-light: #D1C4E9;
$primary-color-text: #FFFFFF;
$accent-color: #FFC107;
$primary-text-color: #212121;
$secondary-text-color: #757575;
$divider-color: #BDBDBD;
@mixin zero-margin($pad-up-down, $pad-left-right) {
    margin: 0px auto;
    padding: $pad-up-down $pad-left-right;
}

.jumbotron {
    @include zero-margin(70px, 30px);
    background: $background-light;
    color: floralwhite;
    min-height: 150px;
}

.background-primary {
    background-color: $background-dark!important;
}

.background-accent {
    background-color: $accent-color!important;
}

.text-floral-white {
    color: floralwhite!important;
}

.flex-spacer {
    flex: 1 1 auto;
}

.active {
    background: $background-moredark;
}